<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Base Template{% endblock %}</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block css %}{% endblock %}

</head>

<body>
  <div class="container">
      <header>
          <h1>Noty</h1>
      </header>

      {% block content %}

      {% endblock %}
  </div>

  {% block javascript %}

  {% endblock %}
</body>

</html>
